/* Style général du header */
.header {
  width: 100%;
  background: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;  /* Permet de le fixer en haut */
  top: 0;  /* Toujours en haut de la page */
  z-index: 1000;  /* Assure que le header soit au-dessus des autres éléments */
  transition: all 0.3s ease-in-out;
}

/* Barre de navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

/* Logo SkillHub */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Liens de navigation */
.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Style des liens */
.nav-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 25px; /* Bords arrondis */
  transition: all 0.3s ease-in-out;
}

/* Effet au survol */
.nav-links  a:hover {
  background-color: #D05252;
  color: white;
  box-shadow: 0 4px 10px rgba(208, 82, 82, 0.3);
  transform: translateY(-2px);
}


/* Bouton de connexion moderne */
.login-btn {
  background-color: #D05252;
  color: white !important;
  border: none;
  border-radius: 25px;
  height: 50px;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(208, 82, 82, 0.3);
}

/* Effet au survol */
.login-btn:hover {
  background-color: #b84242;
  box-shadow: 0 6px 15px rgba(208, 82, 82, 0.5);
  transform: translateY(-2px);
}

/* Effet au clic */
.login-btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(208, 82, 82, 0.3);
}


mat-icon {
  color: #D05252;
}

.nav-links a:hover mat-icon {
  color: white !important;
}
