<header class="header">
  <nav mat-toolbar class="navbar">
    <div class="logo" routerLink="/">SkillHub</div>
    <div class="nav-links">
      <a routerLink="/" mat-button><mat-icon>home</mat-icon> Accueil</a>
      <a routerLink="/courses" mat-button><mat-icon>school</mat-icon> Cours</a>
      <a routerLink="/about" mat-button><mat-icon>info</mat-icon> À propos</a>
      <a routerLink="/contact" mat-button><mat-icon>email</mat-icon> Contactez-nous</a>
    </div>
    <button mat-button class="login-btn" routerLink="/connexion" >Connexion</button>
  </nav>
</header>













