<div class="login-container">
  <div class="login-box">
    <h2>Inscription Tuteur</h2>
    <form #formTuteur="ngForm" (ngSubmit)="onSubmit(formTuteur)">
      <div class="form-group">
        <label for="nomTuteur">Nom</label>
        <input
          type="text" id="nomTuteur" name="nomTuteur" [(ngModel)]="tuteur.nomTuteur" required placeholder="Nom complet" />
      </div>
      <div class="form-group">
        <label for="emailTuteur">Email</label>
        <input
          type="email" id="emailTuteur" name="emailTuteur" [(ngModel)]="tuteur.emailTuteur" required placeholder="Email" />
      </div>
      <div class="form-group">
        <label for="motPasseTuteur">Mot de passe</label>
        <input
          type="password" id="motPasseTuteur" name="motPasseTuteur" [(ngModel)]="tuteur.motPasseTuteur" required placeholder="Mot de passe"/>
      </div>
      <button type="submit" class="login-btn" [disabled]="formTuteur.invalid">S'inscrire</button>
    </form>
  </div>
</div>
