<div class="about-modern-section">
  <div class="about-modern-container">
    <div class="about-image">
      <img src="../../assets/images/SkillHub.png" alt="À propos SkillHub" />
    </div>
    <div class="about-text">
      <h2>À propos de <span>SkillHub</span></h2>
      <p>
        SkillHub est une plateforme de tutorat en ligne conçue pour connecter les étudiants à des tuteurs passionnés et qualifiés.
      </p>
      <p>
        Nous offrons une expérience d'apprentissage intuitive et interactive avec des cours vidéos, une messagerie intégrée, et une gestion de profil simple.
      </p>
      <p>
        Notre mission est de rendre l’éducation accessible à tous, tout en valorisant le savoir-faire des tuteurs.
      </p>

    </div>
  </div>
</div>
