<div class="page-container">
<app-header></app-header>

<main class="main-content">
  <section class="courses-section">
    <div class="container">
      <h2>Mes cours inscrits</h2>

      <div *ngIf="cours.length === 0" class="message-vide">
        <p>Vous n'êtes inscrit à aucun cours pour le moment.</p>
      </div>

      <div class="grid" *ngIf="cours.length > 0">
        <div class="course-card" *ngFor="let cours of cours">
          <div class="image-container">
            <img [src]="getImageUrl(cours.imagePath)" (error)="onImageError($event)" alt="Cours" width="100%">
          </div>
          <div class="course-info">
            <h3 class="titre">{{ cours.titreCours }}</h3>
            <p class="description">{{ cours.descriptionCours }}</p>
            <button class="supprimer-btn" (click)="supprimerCours(cours.idCour)">
              <mat-icon class="delete-icon">delete</mat-icon> Supprimer le cours
            </button>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
</div>
