<div class="page-container">
  <app-header></app-header>
  <main class="main-content">
    <section class="courses-section">
      <div class="container">

        <!-- Boîte de recherche -->
        <div class="search-container">
          <input
            type="text"
            placeholder="Rechercher un cours..."
            [(ngModel)]="searchTerm"
            (input)="filterCours()"
            class="search-input"
          />
        </div>

        <!-- Liste des cours filtrés -->
        <div class="grid">
          <div
            class="course-card"
            *ngFor="let cours of filteredCoursList"
            (click)="consulterCours(cours.idCour)"
          >
            <div class="image-container">
              <img
                [src]="getImageUrl(cours.imagePath)"
                (error)="onImageError($event)"
                alt="Cours"
                width="100%"
              />
            </div>
            <div class="course-info">
              <h3 class="titre">{{ cours.titreCours }}</h3>
              <p class="description">{{ cours.descriptionCours }}</p>

              <p class="tuteur-name">
                <img
                  *ngIf="cours.genderTuteur === 'HOMME'; else femmeIcon"
                  src="assets/images/man.png"
                  alt="Homme"
                  class="gender-icon"
                />
                <ng-template #femmeIcon>
                  <img
                    src="assets/images/woman.png"
                    alt="Femme"
                    class="gender-icon"
                  />
                </ng-template>
                {{ cours.nomTuteur }}
              </p>

              <button
                class="inscrire-btn"
                *ngIf="role === 'ETUDIANT'"
                (click)="inscrireEtudiant(cours.idCour); $event.stopPropagation()"
                [disabled]="inscrits.includes(cours.idCour)"
              >
                <mat-icon class="add-icon">add_circle</mat-icon>
                {{ inscrits.includes(cours.idCour) ? 'Déjà inscrire' : "Inscrire" }}
              </button>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
